@model OlxaWeb.Domain.Entities.Portfolio

@{
    ViewBag.Current = "Portfolio";
    ViewBag.Title = "Site";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("EditSite", "Portfolio", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)

        @Html.LabelFor(m => m.Category)
        @Html.DropDownList("Category", new SelectList(new string[] {
            "Сайт-Визитка",
            "Корпоративный",
            "Интернет-магазин",
            "Информационный",
            /*"Landing page",*/
            "Лэндинг",
            "Эксклюзив"
       }), "Категории")

        @Html.LabelFor(m => m.URL)
        @Html.EditorFor(m => m.URL)

        @Html.LabelFor(m => m.ShortDescription)
        @Html.EditorFor(m => m.ShortDescription)

        @Html.LabelFor(m => m.Description)
        @Html.EditorFor(m => m.Description)

        <div class="row">
            <div class="col-md-6">
                @* Начало загрузки картинки для компа  *@
                @Html.HiddenFor(m => m.PicturePC)
                <input type="file" name="picturePC" accept="image/*" onchange="loadFile(event)" >
          
                    <img id="PC" src="~/Content/img/PortfolioPicture/@Model.PicturePC" alt="Нет картинки" />
        
                <script>
                    var loadFile = function (event) {
                      
                        var outputPC = document.getElementById('PC');
                        outputPC.src = URL.createObjectURL(event.target.files[0]);
                    };
                </script>
                @* Конец загрузки картинки для компа *@
            </div>
            <div class="col-md-6">
                @* Начало загрузки картинки для сотового *@
                @Html.HiddenFor(m => m.PictureMobile)
                <input type="file" name="pictureMobile" accept="image/*" onchange="loadFile(event)">

                    <img id="outputM" src="~/Content/img/PortfolioSitePicture/@Model.PictureMobile" alt="Нет картинки" />

                <script>
                    var loadFile = function (event) {
                        var outputM = document.getElementById('outputM');
                        outputM.src = URL.createObjectURL(event.target.files[0]);
                    };
                </script>
                @* Конец загрузки картинки сотового *@
            </div>
        </div>

        @Html.LabelFor(m => m.Price)
        @Html.EditorFor(m => m.Price)

        @Html.LabelFor(m => m.Day)
        @Html.EditorFor(m => m.Day)

        @Html.LabelFor(m => m.Publish)
        @Html.CheckBoxFor(m => m.Publish)


        @*<select id="Category" name="Category">
                <option value="">Категории:</option>
                @foreach (var category in ViewBag.Filter)
                {
                    <option>@category</option>
                }
            </select>*@

        <div class="col-lg-7 col-md-6 space-bottom-2x">
            <div class="post-tools space-top">
                <div class="column">
                    <div class="social-bar">
                        <button type="submit" value="Save" class="btn btn-primary btn-ghost space-top-none space-bottom-none" style="padding-left: 15px;padding-right: 15px; margin-right: 0;" title="Сохранить"><i class="fa fa-check" aria-hidden="true"></i></button>
                        <button href="~/Develop/Template" class="btn btn-primary btn-ghost space-top-none space-bottom-none" style="padding-left: 15px;padding-right: 15px; margin-right: 0;border-color:#ff0000" title="Отменить изменения"><i class="fa fa-window-close text-danger" aria-hidden="true"></i></button>
                        <button href="~/Develop/DeletePortfolio/@Model.Id" class="btn btn-primary btn-ghost space-top-none space-bottom-none" style="padding-left: 15px;padding-right: 15px; margin-right: 0;border-color:#0015ff" title="Удалить"><i class="fa fa-trash-o" style="color:#0015ff"></i></button>
                    </div><!-- .social-bar -->
                </div><!-- .column -->
            </div>
        </div><!-- .col-lg-7.col-md-6 -->
    }
</div>

    @section Scripts {
    }
