@model OlxaWeb.Domain.Entities.Post

@{
    ViewBag.Title = "EditPost";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
<script src="~/Content/ckeditor_4.6.2_full/ckeditor/ckeditor.js"></script>



    @using (Html.BeginForm("EditPost", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <!-- Content -->
        <div class="col-lg-9 col-md-8">

            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)

            @Html.LabelFor(model => model.Category)
            @Html.EditorFor(model => model.Category)

            @* загрузка картинки*@
            @Html.HiddenFor(m=>m.Picture)
            <input type="file" name="picture" accept="image/*" onchange="loadFile(event)">
            <div class="image-carousel space-bottom-2x">
                <img id="output" src="~/Content/img/BlogPicture/@Model.Picture" alt="Нет картинки" />
            </div>
            <script>
                var loadFile = function (event) {
                    var output = document.getElementById('output');
                    output.src = URL.createObjectURL(event.target.files[0]);
                };
            </script>
            @*Конец загрузки картинки*@

            @Html.LabelFor(model => model.ShortDescription)
            @Html.EditorFor(model => model.ShortDescription)

            @*  Описание  *@
            <textarea name="Description" id="Description" rows="10" cols="80">
                @Html.Raw(Model.Description)
            </textarea>
            <script>
                CKEDITOR.replace('Description');
            </script>
            @* Конец описания *@

            @Html.LabelFor(model => model.Published)
            @Html.CheckBoxFor(model => model.Published)

            @* Категория *@
            @*<select id="Category" name="Category">
                    <option>@Html.TextBoxFor(m => m.Category)</option>
                    @foreach (var category in ViewBag.Filter)
                        {
                        <option>@category</option>
                    }
                </select>*@
            @*Конец Категория *@

            @Html.LabelFor(model => model.Meta)
            @Html.EditorFor(model => model.Meta)

            @Html.LabelFor(model => model.UrlSlug)
            @Html.EditorFor(model => model.UrlSlug)

            @Html.LabelFor(m=>m.Counter)
            @Html.EditorFor(m => m.Counter)

            <div class="post-tools space-top-2x">
                <div class="column">
                    <div class="social-bar">
                        <button type="submit" value="Save" class="btn btn-primary btn-ghost space-top-none space-bottom-none" style="padding-left: 15px;padding-right: 15px; margin-right: 0;" title="Сохранить"><i class="fa fa-check" aria-hidden="true"></i></button>
                        <button href="~/Blog/Index" class="btn btn-primary btn-ghost space-top-none space-bottom-none" style="padding-left: 15px;padding-right: 15px; margin-right: 0;border-color:#ff0000" title="Отменить изменения"><i class="fa fa-window-close text-danger" aria-hidden="true"></i></button>
                        <button href="~/Blog/DeletePost/@Model.Id" class="btn btn-primary btn-ghost space-top-none space-bottom-none" style="padding-left: 15px;padding-right: 15px; margin-right: 0;border-color:#0015ff" title="Удалить"><i class="fa fa-trash-o" style="color:#0015ff"></i></button>
                    </div><!-- .social-bar -->
                </div><!-- .column -->
            </div><!-- .post-tools -->
        </div><!-- .col-lg-9.col-md-8 -->
    }
@section Scripts {
<script src="~/Content/ckeditor_4.6.2_full/ckeditor/ckeditor.js"></script>
}
