@using OlxaWeb.Domain.Entities
@model Post
@{
    ViewBag.Current = "Contact";
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

  <!-- Content -->
<div class="col-lg-9 col-md-8">
    <h3>@Model.Title</h3>
    <div class="post-meta">
        <div class="column">
            <span>
                <i class="icon-head"></i>
                <a href="#">Bedismo</a>
            </span>
            <span>в</span>
            <span>
                <i class="icon-ribbon"></i>
                <a href="#">@Model.Category</a>
            </span>
        </div>
        <div class="column"><span>@Model.Modified</span></div>
    </div><!-- .post-meta -->
  

    <div class="image-carousel space-bottom-2x">
        @Model.UrlSlug
    </div><!-- .image-carousel -->


    <p>@Model.Description</p>

    <div class="post-tools space-top-2x">
        <div class="column">
            <div class="tags-links">
                <a href="#">Design</a>
                <a href="#">Development</a>
                <a href="#">Hosting</a>
                <a href="#">Domains</a>
            </div>
        </div><!-- .column -->
        <div class="column">
            <div class="social-bar">
                <a href="~/Blog/EditPost/@Model.Id" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Редактировать">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Удалить">
                    <i class="fa fa-check-square text-danger"></i>
                </a>
                <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </div><!-- .social-bar -->
        </div><!-- .column -->
    </div><!-- .post-tools -->
</div><!-- .col-lg-9.col-md-8 -->
