@using OlxaWeb.Domain.Entities
@model Post
@{
    ViewBag.Current = "Contact";
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
@Html.Action("Counter","Blog")

<!-- Content -->
<div class="col-lg-9 col-md-8">
    <h3>@Model.Title</h3>
    <div class="post-meta">
        <div class="column">
            <span>Категория :</span>
            <span>
                <i class="icon-ribbon"></i>
                <a href="#">@Model.Category</a>
            </span>
        </div>
        <div class="column"><span>@Model.Modified</span></div>
    </div><!-- .post-meta -->

    <div class="image-carousel space-bottom-2x">
        <img src="~/Content/img/BlogPicture/@Model.UrlSlug" alt="Тут должна быть картинка">
    </div><!-- .image-carousel -->

    <p>@Model.Description</p>

    <div class="post-tools space-top-2x">

        @*<div class="column">
            <div class="tags-links">
                <a href="#">Design</a>
                <a href="#">Development</a>
                <a href="#">Hosting</a>
                <a href="#">Domains</a>
            </div>
        </div>*@

        @if (User.IsInRole("Admin"))
        {
            <div class="column">
                <div class="social-bar" style="float:right">
                    <a href="~/Blog/EditPost/@Model.Id" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Редактировать">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="~/Blog/DeletePost/@Model.Id" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Удалить">
                        <i class="fa fa-window-close text-danger"></i>
                    </a>
                    @if (Model.Published == true)
                    {
                        <a href="~/Blog/PublishPost/@Model.Id" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Скрыть с публикации">
                            <i class="fa fa-minus-square" style="color:#808080"></i>
                        </a>
                    }
                    else
                    {
                        <a href="~/Blog/PublishPost/@Model.Id" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Опубликовать">
                            <i class="fa fa-plus-square" style="color:#00ff21"></i>
                        </a>
                    }
                </div>
            </div>
        }
        </div><!-- .post-tools -->
    </div><!-- .col-lg-9.col-md-8 -->
    @section Scripts {
    }