@model OlxaWeb.Domain.Entities.Temmplate

@{
    ViewBag.Current = "Develop";
    ViewBag.Title = "EditCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/ckeditor_4.6.2_full/ckeditor/ckeditor.js"></script>


<div class="container">
@using (Html.BeginForm("EditCard", "Develop", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!--Add modifier class : "pt-fullwidth" to stretch page title and make it occupy 100% of the page width. -->
    <section class="page-title">
        <div class="container">
            <div class="inner">
                <div class="column">
                    <div class="title">
                        <h1>Разработка</h1>
                    </div><!-- .title -->
                </div><!-- .column -->
                <div class="column">
                    <ul class="menu-title text-center">
                        <li class="active"><a href="#">Готовые решения</a></li>
                        <li>@Html.ActionLink("Индивидуальные", "Individual", "Develop")</li>
                        <li>@Html.ActionLink("Эксклюзивные", "Exclusive", "Develop")</li>
                    </ul><!-- .nav-filters -->
                </div><!-- .column -->
            </div>
        </div>
    </section><!-- .page-title -->
        <div class="row">
        @* Начало загрузки картинки *@
            <div class="col-lg-5 col-md-6 space-bottom-2x">
                <input type="file" name="picture" accept="image/*" onchange="loadFile(event)">
                <div class="image-carousel space-bottom-2x">
                    <img id="output" src="~/Content/img/TemplatePicture/@Model.LinkPicture" alt="Нет картинки" />
                </div>
                <script>
            var loadFile = function (event) {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
            };
                </script>
         @* Конец загрузки картинки *@
            </div><!-- .col-lg-5.col-md-6 -->
            <div class="col-lg-7 col-md-6 space-bottom-2x">
                <h2 class="shop-title">
                    @Html.EditorFor(m => m.Title)
                </h2>
            @Html.DropDownList("Category", new SelectList(new string[] { "Лендинг", "Интернет-магазин", "Корпаративный" }), "Категории")
                <p class="text-gray">
                    <textarea name="Description" id="editor1" rows="10" cols="80">
                        @Model.Description
                    </textarea>
                    <script>
                        CKEDITOR.replace('editor1');
                    </script>
                </p>
                <div class="shop-tools">
                    <span class="text-lg">@Html.EditorFor(m => m.Price)</span>
                    <input type="checkbox" checked="@Model.Publish" />
             
                </div>
                <div class="post-tools space-top">
                    <div class="column">
                        <div class="social-bar">
                            <button type="submit" value="Save" class="btn btn-primary btn-ghost space-top-none space-bottom-none" style="padding-left: 15px;padding-right: 15px; margin-right: 0;" title="Сохранить"><i class="fa fa-check" aria-hidden="true"></i></button>
                            <button type="submit" value="Save" class="btn btn-primary btn-ghost space-top-none space-bottom-none" style="padding-left: 15px;padding-right: 15px; margin-right: 0;border-color:#ff0000" title="Удалить"><i class="fa fa-window-close text-danger" aria-hidden="true"></i></button>
                            <button type="submit" value="Save" class="btn btn-primary btn-ghost space-top-none space-bottom-none" style="padding-left: 15px;padding-right: 15px; margin-right: 0;border-color:#0015ff" title="Отменить"><i class="fa fa-trash-o" style="color:#0015ff"></i></button>
                        </div><!-- .social-bar -->
                    </div><!-- .column -->
                </div>
            </div><!-- .col-lg-7.col-md-6 -->
        </div><!-- .row -->
}
</div><!-- .col-sm-6 -->
