
@{
    ViewBag.Current = "Contact";
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title">
    <div class="container">
        <div class="inner">
            <div class="column">
                <div class="title">
                    <h1>Наш Блог</h1>
                </div><!-- .title -->
            </div><!-- .column -->
            <div class="column">
                <ul class="menu-title text-center">
                    <li>@Html.ActionLink("Наша команда", "Brigade", "Home")</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                    <li class="active"><a href="#">Наш Блог</a></li>
                </ul><!-- .nav-filters -->
            </div><!-- .column -->
        </div>
    </div>
</section><!-- .page-title -->
<!-- Container -->
<div class="container">
    <div class="row">

    @RenderBody()

        <!-- Sidebar -->
        <div class="col-lg-3 col-md-4">
            <div class="space-top-2x visible-sm visible-xs"></div>
            <aside class="sidebar">
                <section class="widget widget_search">

                    @using (Html.BeginForm("Search", "Blog"))
                    {
                        <div class="search-box">
                            <input type="text" class="form-control" placeholder="Поиск по блогу" name="search">
                            <button type="submit"><i class="icon-search"></i></button>
                        </div>
                    }
                </section>

                   @Html.Action("Menu", "Blog")

                   @Html.Action("MaxViewPost","Blog")

                @*<section class="widget widget_tag_cloud">
                    <h3 class="widget-title">
                        <i class="icon-tag"></i>
                        Featured Tags
                    </h3>
                    <a href="#">Design</a>
                    <a href="#">Development</a>
                    <a href="#">Hosting</a>
                    <a href="#">Domains</a>
                </section>*@

            </aside><!-- .sidebar -->
        </div><!-- .col-lg-3.col-md-4 -->
    </div><!-- .row -->
</div><!-- .container -->



@section Scripts {
@RenderSection("Scripts")
}