<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -OlxaWeb Разработка сайтов</title>

    <link href="~/fonts/font_aw/css/font-awesome.css" rel="stylesheet" />  <!-- библиотека иконочного шрифта -->
    <link href="~/fonts/my-icons/font/flaticon.css" type="text/css" rel="stylesheet" />   <!-- библиотека иконочного шрифта -->
    <link href="~/Content/styles.css" rel="stylesheet" />
    


</head>
<body>
    <div id="preloader" data-spinner="spinner1" data-screenbg="#fff"></div>

    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <!-- ----------------------------------закрепленое окошко с контктами скайп,фейсбук,твитер------------------------------->
        <!-- Social Bar -->
        <!-- Change modifier class to ".bar-fixed-left" to position social bar on the left side of the page. -->
        <div class="social-bar bar-fixed-right">
            <a href="#" class="sb-skype">
                <i class="fa fa-skype"></i>
            </a>
            <a href="#" class="sb-facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="sb-twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </div><!-- .social-bar -->
        <!-- Navbar -->
        <!-- Add class ".navbar-sticky" to make navbar stuck when it hits the top of the page. Another modifier class is: "navbar-fullwidth" to stretch navbar and make it occupy 100% of the page width. The screen width at which navbar collapses can be controlled through the variable "$nav-collapse" in sass/variables.scss -->
        <header class="navbar navbar-sticky">
            <!-- --------------------------------------Topbar  (Уплывающая шапка с лого) ---------------------------->
            <div class="topbar">
                <div class="container">
                    <a href="~/Views/Home/Index.cshtml" class="site-logo">
                        <img src="~/Content/img/logo.png" alt="OlxaWeb" />
                    </a><!-- .site-logo -->
                    <!-- Mobile Menu Toggle -->
                    <div class="nav-toggle"><span></span></div>
                <div class="toolbar">
                    <p class="fone">  Наш телефон: 8(223)223-22-22 </p>
                </div>
                    @*<div class="toolbar">
                        <a href="#" class="text-sm" data-toggle="modal" data-target="#loginModal">Запишись</a>
                        <a href="#" class="btn btn-sm btn-ghost btn-primary btn-icon-right waves-effect waves-light" data-toggle="modal" data-target="#loginModal">Вход <i class="fa fa-lemon-o" aria-hidden="true"></i></a>
                         <a href="shopping-cart.html" class="cart-btn"><i class="icon-bag"></i></a>
                    </div>*@<!-- .toolbar -->
                </div><!-- .container -->
            </div><!-- .topbar -->
            <!-- ---------------------------------Главное меню Toolbar--------------------------------------------------- -->

            <div class="container">
                <nav class="main-navigation">
                    <ul class="menu">
                        <li class="menu-item-has-children @(ViewBag.Current=="About"?"current-menu-item":"")">
                            <a href="~/Home/index"><i class="flaticon-business-10"></i> О нас</a>
                        <li class="menu-item-has-children @(ViewBag.Current=="Develop"?"current-menu-item":"")">
                            <a href="~/Develop/index"><i class="flaticon-business-6"></i>Разработка</a>
                            <div class="mega-menu">
                                <ul>
                                    <li @(ViewBag.SubMenu=="Template"? "class=current-menu-item":"") >@Html.ActionLink("Готовые решения", "Template", "Develop") </li>
                                    <li @(ViewBag.SubMenu=="Individual"? "class=current-menu-item":"")>@Html.ActionLink("Индивидуальные проекты", "Individual", "Develop")</li>
                                    <li @(ViewBag.SubMenu=="Exclusive" ? "class=current-menu-item":"")>@Html.ActionLink("Эксклюзивные проекты", "Exclusive", "Develop")</li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item-has-children @(ViewBag.Current=="SEO"?"current-menu-item":"")">
                            <a href="~/SEO/index"><i class="flaticon-computer"></i>Продвижение</a>
                            <div class="mega-menu">
                                <ul>
                                    <li>@Html.ActionLink("Начальное", "index", "SEO")</li>
                                    <li>@Html.ActionLink("Оптимальное", "", "SEO")</li>
                                    <li>@Html.ActionLink("Продвинутое", "", "SEO")</li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item-has-children @(ViewBag.Current=="Portfolio"?"current-menu-item":"")">
                            <a href="~/Portfolio/index"><i class="flaticon-suitcase"></i>Наши работы</a>
                        </li>
                        <li class="menu-item-has-children @(ViewBag.Current=="Price"?"current-menu-item":"")">
                            <a href="~/Price/index"><i class="flaticon-ruble"></i>Услуги и цены</a>
                        </li>
                        <li class="menu-item-has-children @(ViewBag.Current=="Contact"?"current-menu-item":"")">
                            <a href="~/Home/Contact"><i class="flaticon-money-1"></i>Контакты</a>
                        </li>

                        @*<li class="menu-item-has-children @(ViewBag.Current=="MySite"?"current-menu-item":"")">
                            <a href="~/Home/Mysite"><i class="fa fa-power-off" aria-hidden="true"></i>Мой сайт</a>
                        </li>*@

                    </ul>
                    <!-- .menu -->
                </nav>
            </div><!-- .container -->

            <div class="social-bar mobile-socials">
                <a href="#" class="sb-skype">
                    <i class="fa fa-skype"></i>
                </a>
                <a href="#" class="sb-facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="sb-twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </header><!-- .navbar -->
        <!-- -------------------------------------- модальное окно для входа и регистрации ---------------------------------------- -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-content text-center">
                    <h4>Вход через аккаунт</h4>
                    <div class="space-bottom-2x">
                        <a href="#" class="btn google-login waves-effect waves-light">Google<i class="fa fa-google"></i></a>
                        <a href="#" class="btn twitter-login waves-effect waves-light">Twitter<i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn facebook-login waves-effect waves-light">Facebook<i class="fa fa-facebook"></i></a>
                    </div>
                    <h4>Или введите email</h4>
                    <form method="post">
                        <input type="email" class="form-control" placeholder="Email" required>
                        <input type="password" class="form-control" placeholder="Password" required>
                        <div class="form-group">
                            <button type="submit" class="btn login-btn btn-default waves-effect waves-light">Вход<i class="icon-head"></i></button>
                        </div>
                        <div class="text-left">
                            <span class="text-sm text-semibold">New to Nucleus? <a href="#">Запишись</a></span>
                        </div>
                    </form><!-- <form> -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- .modal.fade -->

        
            @RenderBody()
      
        <!-- -----------------------------------------------Footer------------------------------------------------------------------ -->
        <footer class="footer">
            <div class="top-footer">
                <div class="container">
                    <div class="tools">
                        <div class="cell">
                            <i><img src="~/Content/footer/help.png" alt="Email"></i>
                            <span><a href="mailto:info@email.com">info@email.com</a></span>
                        </div>
                        <div class="cell">
                            <i><img src="~/Content/footer/phone.png" alt="Phone"></i>
                            <span>+7 (916) 123 45 67</span>
                        </div>
                        <div class="cell">
                            <i><img src="~/Content/footer/chat.png" alt="Chat"></i>
                            <span>с 10 до 23</span>
                        </div>
                    </div>
                    <div class="subscribe">
                        <div class="subscribe-form">
                            <i><img src="~/Content/footer/envelope.png" alt="Subscribe"></i>
                            <form action="//8guild.us3.list-manage.com/subscribe/post?u=168a366a98d3248fbc35c0b67&amp;id=011a3332a0" method="post" target="_blank" novalidate autocomplete="off">
                                <label for="subscr_email" class="sr-only">Subscribe to latest news</label>
                                <input type="email" class="form-control" id="subscr_email" placeholder="Ваш Email">
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;">
                                    <input type="text" name="b_168a366a98d3248fbc35c0b67_011a3332a0" tabindex="-1" value="">
                                </div>
                                <button type="submit"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div><!-- .container -->
            </div><!-- .top-footer -->


                <div class="bottom-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <section class="widget widget_text">
                                    <a href="index.html" class="site-logo">
                                        <img src="~/Content/img/logo.png" alt="OlxaWeb" />
                                    </a><!-- .site-logo -->
                                    <p>Мы занимаемся созданием сайтов на ASP.NET фрэймворке. Так же у нас есть уже готовые решения для вашего бизнеса.</p>
                                </section><!-- .widget.widget_text -->
                            </div><!-- .col-md-3 -->
                            <div class="col-md-3 col-sm-6">
                                <section class="widget widget_pages">
                                    <h3 class="widget-title">
                                        <i class="fa fa-cogs text-primary" aria-hidden="true"></i>
                                        Разработка
                                    </h3>
                                    <ul>
                                        <li>@Html.ActionLink("Готовые Решения", "Template", "Develop")</li>
                                        <li>@Html.ActionLink("Индивидуальные", "Individual", "Develop")</li>
                                        <li>@Html.ActionLink("Эксклюзивные", "Exclusive", "Develop")</li>
                                    </ul>
                                </section><!-- .widget.widget_pages -->
                            </div><!-- .col-md-3 -->
                            <div class="clearfix visible-sm"></div>
                            <div class="col-md-3 col-sm-6">
                                <section class="widget widget_pages">
                                    <h3 class="widget-title">
                                        <i class="fa fa-line-chart text-primary" aria-hidden="true"></i>
                                        Продвижение
                                    </h3>
                                    <ul>
                                        <li>@Html.ActionLink("Начальное", "", "")</li>
                                        <li>@Html.ActionLink("Оптимальное", "", "")</li>
                                        <li>@Html.ActionLink("Продвинутое", "", "")</li>
                                    </ul>
                                </section><!-- .widget.widget_pages -->
                            </div><!-- .col-md-3 -->
                            <div class="col-md-3 col-sm-6">
                                <section class="widget widget_pages">
                                    <h3 class="widget-title">
                                        <i class="fa fa-leaf text-primary" aria-hidden="true"></i>
                                        OlxaWeb
                                    </h3>
                                    <ul>
                                        <li>@Html.ActionLink("Контакты", "Contacts", "")</li>
                                        <li>@Html.ActionLink("ЧаВо", "", "")</li>
                                        <li>@Html.ActionLink("Блог", "Index", "Blog")</li>
                                    </ul>
                                </section><!-- .widget.widget_pages -->
                            </div><!-- .col-md-3 -->
                        </div><!-- .row -->
                        <div class="copyright">
                            <div class="column">
                                <p>&copy;<a href="~/Manage/Index"> OlxaWeb 2016 - 2017 <a/><i class="fa fa-heart text-danger"></i></p>
                            </div><!-- .column -->
                            <div class="column">
                                <div class="cards">
                                    <img src="~/Content/img/cards.png" alt="Credit Cards" />
                                </div>
                            </div><!-- .column -->
                        </div><!-- .copyright -->
                    </div><!-- .container -->
                </div><!-- .bottom-footer -->
</footer><!-- .footer -->

    </div><!-- .page-wrapper -->

    <!-- Scroll To Top Button -->
    <a href="#" class="scroll-to-top-btn">
        <i class="fa fa-chevron-up text-primary" aria-hidden="true"></i>
    </a><!-- .scroll-to-top-btn -->

    <script src="~/Scripts/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/js/vendor/preloader.min.js"></script>
    <script src="~/Scripts/js/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/js/vendor/waves.min.js"></script>
    <script src="~/Scripts/js/vendor/placeholder.js"></script>
    <script src="~/Scripts/js/vendor/smoothscroll.js"></script>
    <script src="~/Scripts/js/vendor/waypoints.min.js"></script>
    <script src="~/Scripts/js/vendor/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/js/vendor/velocity.min.js"></script>
    <script src="~/Scripts/js/vendor/magnific-popup.min.js"></script>
    <script src="~/Scripts/js/vendor/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/vendor/jquery.stellar.min.js"></script>
    <script src="~/Scripts/js/vendor/scrollreveal.min.js"></script>


   
    
    <script src="~/Scripts/js/scripts.js"></script>
</body>
</html>
